# --- NORMALIZACIÓN DE LÍNEAS ---
* text=auto

# --- NORMALIZACIÓN DE LÍNEAS EN ARCHIVOS ---
*.html text eol=lf
*.css  text eol=lf
*.js   text eol=lf
*.md   text eol=lf

# --- ARCHIVOS BINARIOS --- 
*.ico binary
*.gif binary
*.jpg binary
*.jpeg binary

# --- LINGUIST (SOLO LA CARPETA DOCS) ---
* linguist-vendored
!docs/** linguist-vendored

# --- LINGUIST (GitHub lenguaje stats) ---
docs/*.html linguist-language=HTML
docs/*.css  linguist-language=CSS
docs/*.js   linguist-language=JavaScript

# --- IGNORAR DIFF EN ARCHIVOS MINIFICADOS ---
*.min.js  -diff
*.min.css -diff
